.MovieList {
    position: relative;
    left: 0;
    right: 0;
    top: 90px;
}
.ListItem {
    display: flex;
    flex-wrap: wrap;
    /* flex: 0 1 33%; */
    justify-content: space-around;
}

.item {
    margin-bottom: 50px;
    margin-top: 50px;
}
.name {
    margin-bottom: 8px;
    font-size: 20px;
}
.card {
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 400px;
    cursor: pointer;
}
.card:hover {
    opacity: .7;
}
.ironman{
    background-image: url('../../img/ironMan.jpg');
}

.superman {
    background-image: url('../../img/superman.jpg');
}

.carsthree {
    background-image: url('../../img/cars3.jpg');
}

.narutonine {
    background-image: url('../../img/naruto9.jpg');
}

.crime {
    background-image: url('../../img/crime.jpg');
}

.scarFace {
    background-image: url('../../img/scarface.jpg');
}

.orang{
    background-image: url('../../img/orang.jpg');
}

.shinGing{
    background-image: url('../../img/shinging.jpg');
}