.h1 {
    color:#fffafa;
    padding: 10px;
}
*{
    padding: 0;
    margin: 0;
}
.header {
    height: 70px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    background-color: #060f3c;
    text-align: center;
}